<div class="buttonsContainer">
  <button
    mat-raised-button
    color="accent"
    (click)="
      editDrinksSelected = !editDrinksSelected;
      editTreatsSelected = false;
      editFlavorsSelected = false;
      incomingOrdersSelected = false
    "
  >
    Edit Drinks
  </button>

  <button
    mat-raised-button
    color="accent"
    (click)="
      editTreatsSelected = !editTreatsSelected;
      editDrinksSelected = false;
      incomingOrdersSelected = false;
      editFlavorsSelected = false
    "
  >
    Edit Treats
  </button>

  <button
    mat-raised-button
    color="accent"
    (click)="
      editFlavorsSelected = !editFlavorsSelected;
      editTreatsSelected = false;
      editDrinksSelected = false;
      incomingOrdersSelected = false
    "
  >
    Edit Flavors
  </button>

  <button
    mat-raised-button
    color="accent"
    (click)="
      incomingOrdersSelected = !incomingOrdersSelected;
      editTreatsSelected = false;
      editDrinksSelected = false;
      editFlavorsSelected = false
    "
  >
    Incoming Orders
  </button>
</div>
<div *ngIf="editDrinksSelected">
  <div class="formContainer">
    <form #drinkForm="ngForm" (ngSubmit)="menuService.addDrink(drinkForm)">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input ngModel matInput type="text" name="drinkName" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Reg. Price</mat-label>
        <input ngModel matInput type="text" name="regularPrice" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Lg. Price</mat-label>
        <input ngModel matInput type="text" name="largePrice" required />
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="!drinkForm.valid"
      >
        Submit
      </button>
    </form>
  </div>

  <div class="body">
    <div class="container">
      <h1>Drinks</h1>
      <div class="cardsContainer">
        <mat-card class="regular" *ngFor="let item of menuService.drinkItems">
          <mat-card-title
            ><strong>{{ item.drinkName }}</strong></mat-card-title
          >
          <mat-card-content
            >reg: {{ item.regularPrice }} | lg:
            {{ item.largePrice }}</mat-card-content
          >
          <mat-icon (click)="menuService.onRemoveDrink(item.id)"
            >delete</mat-icon
          >
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div *ngIf="editTreatsSelected">
  <div class="formContainer">
    <form #treatForm="ngForm" (ngSubmit)="menuService.addTreat(treatForm)">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input ngModel matInput type="text" name="treatName" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Reg. Price</mat-label>
        <input ngModel matInput type="text" name="regularPrice" required />
      </mat-form-field>

      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="!treatForm.valid"
      >
        Submit
      </button>
    </form>
  </div>

  <div class="body">
    <div class="container">
      <h1>Treats</h1>
      <div class="cardsContainer">
        <mat-card class="regular" *ngFor="let item of menuService.treatItems">
          <mat-card-title
            ><strong>{{ item.treatName }}</strong></mat-card-title
          >
          <mat-card-content>reg: {{ item.regularPrice }}</mat-card-content>
          <mat-icon (click)="menuService.onRemovetreat(item.id)"
            >delete</mat-icon
          >
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div *ngIf="editFlavorsSelected">
  <div class="formContainer">
    <form #flavorForm="ngForm" (ngSubmit)="menuService.addFlavor(flavorForm)">
      <mat-form-field>
        <mat-label>Flavor Name</mat-label>
        <input ngModel matInput type="text" name="flavorName" required />
      </mat-form-field>

      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="!flavorForm.valid"
      >
        Submit
      </button>
    </form>
  </div>
  <div class="body">
    <div class="container">
      <h1>Flavors</h1>
      <div class="cardsContainer">
        <mat-card class="regular" *ngFor="let item of menuService.flavorItems">
          <mat-card-title
            ><strong>{{ item.flavorName }}</strong></mat-card-title
          >
          <mat-icon (click)="menuService.onRemoveFlavor(item.id)"
            >delete</mat-icon
          >
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div *ngIf="incomingOrdersSelected">
  <div class="body">
    <div class="container">
      <h1>Incoming Orders</h1>
      <div class="cardsContainer">
        <mat-card
          class="incomingOrderCard"
          *ngFor="let order of menuService.incomingOrders"
        >
          <div *ngFor="let item of menuService.toArray(order)">
            <div class="item">
              <mat-card-title
                ><strong
                  >{{ item.quantity }}
                  {{ menuService.sizeNameConversion(item.size) }}
                  {{ item.name }}</strong
                ></mat-card-title
              >
              <mat-card-title> {{ item.flavors }} </mat-card-title>
            </div>
            <mat-card-title>{{ item.specialInstructions }} </mat-card-title>
          </div>
          <mat-icon (click)="menuService.onRemoveIncomingOrder(order.id)"
            >delete</mat-icon
          >
        </mat-card>
      </div>
    </div>
  </div>
</div>
