img {
    height: 100px;
}
mat-toolbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding:20px
}

mat-icon {
    scale: 2;
    padding:20px

}
mat-menu {
  top:20px !important;
}
