<div class="container">
  <mat-card class="card"
    ><form #authForm="ngForm" (ngSubmit)="authService.onSubmitAuth(authForm)">
      <mat-form-field>
        <mat-label for="email">Email</mat-label>
        <input type="text" id="email" matInput name="email" required email />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input
          type="text"
          id="password"
          matInput
          name="password"
          required
          minlength="6"
      /></mat-form-field>
      <button color="accent" type="submit" mat-raised-button>Submit</button>
    </form></mat-card
  >
</div>
