<h3 *ngIf="!menuService.itemsInOrderMessage" class="messageContainer">
  No items have been added to you order.
</h3>
<div *ngIf="menuService.itemsInOrderMessage">
  <div *ngFor="let item of menuService.currentOrder">
    <div class="container">
      <div>
        <h1 mat-dialog-content> <strong>
          {{ item.quantity }}
          {{ menuService.sizeNameConversion(item.size) }}
          {{ item.name }} -
          ${{ item.price }}
        </strong></h1>

        <h2 mat-dialog-content> {{ item.flavors }} </h2>
        <h2 mat-dialog-content>
          {{ item.specialInstructions }}
        </h2>
      </div>
    </div>
    <hr />
  </div>
  <h2 mat-dialog-content>
    <strong>Order Total w/ Tax: ${{ menuService.SubtotalPrice() }}</strong>
  </h2>
  <div class="buttons">
    <button mat-button mat-dialog-close (click)="menuService.onSubmitOrder()">
      Submit Order
    </button>
    <button
      mat-button
      mat-dialog-close
      (click)="
        menuService.currentOrder = []; menuService.itemsInOrderMessage = false
      "
    >
      Clear Order
    </button>
  </div>
</div>
